.cons{
    max-width: 95%;
    height: max-content;
}

.img-expand{
    width:100%;
}

.colorx{
    color: rgba(200, 56, 56, 0.7);
    transition: color .5s ease-in-out;
}
.colorx:hover{
    color: rgb(232, 11, 11);
}